@media (min-width: 320px) and (max-width: 854px) {
    .hidden-gallery {
        display: none;
    }
    .hidden-mobile {
        display: none !important;
    }
    .btn-f-n {
        display: block;
        position: relative;
        float: left;
        width: 100%;
    }
    .item-page--review-col-content-author {
        line-height: 1.45rem !important;
    }
    .footer-app-img {
        display: block;
        position: relative !important;
        float: right;
        right: 0px;
        bottom: 0;
    }
    .footer-app-text {
        margin-left: 0px !important;
        font-size: 1rem;
        z-index: 10;
    }
    .footer-text {
        display: block;
        position: relative;
        float: left;
        line-height: 1.45rem;
        font-size: 1rem;
        padding-right: 0;
        margin-bottom: 20px;
    }
    .footer-menu {
        margin-right: 70px;
    }
    .footer-menu li {
        margin-bottom: 10px;
    }
    .item-slider {
        margin-bottom: 30px;
    }
    .logo {
        display: inline-block;
        position: relative;
        float: none;
        margin: 0 auto;
        height: 42px;
    }
    .item-page--main-screen {
        padding: 20px 0px 43px;
    }
    .mobile-header-menu {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 15px 0px;
    }
    header {
        background: #ffffff;
    }
    .popup-menu-head {
        margin: 0 auto 40px;
        text-align: center;
        width: 100%;
    }
    .burger-menu {
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background: url("../images/burger-menu.svg") no-repeat top center;
        background-size: 25px 25px;
        right: 15px;
        top:28px;
    }
    .close-menu {
        display: block;
        position: absolute;
        width: 25px;
        height: 25px;
        background: url("../images/close-white.svg") no-repeat top center;
        background-size: 25px 25px;
        right: 15px;
        top:28px;
    }
    .mobile-center-menu {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        padding: 0;
        list-style: none;
        margin-bottom: 20px;
    }
    .mobile-center-menu li {
        margin-bottom: 25px;
    }
    .mobile-center-menu li a {
        color: #fff;
        text-decoration: none;
    }
    .mobile-center-menu li a:hover {
        color: #fff;
        text-decoration: none;
    }
    .arrow-right-white {
        margin-left: 10px;
    }
    .arrow-down-white {
        margin-left: 10px;
    }
    .shop-screen--review-col-nophoto {
        display: inline-block;
        position: relative;
        float: left;
        width: 0%;
    }
    .shop-screen--review-col-content-nophoto {
        display: inline-block;
        position: relative;
        float: left;
        padding: 5px 9% 0px 0px;
        width: 100%;
    }
    .shop-screen--about-menu {
        display: inline-block;
        position: relative;
        float: left;
        width:auto;
        text-align: center;
        margin: 15px 0px;
        list-style: none;
        padding: 0;
        padding-left: 20px;
        line-height: 1.9375rem;
        font-size: 1rem;
    }
    .shop-screen--ava {
        display:inline-block;
        position: relative;
        float: left;
        width: 120px;
        border-radius: 50%;
    
    }
    .shop-screen {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 13px 0px 0px;
    }
    .shop-screen--about-menu li {
        text-align: left;
        display: block;
        position: relative;
        color: #828282;
        margin: 0px 5px;
    }
    .big-title {
        margin-top:25px;
        font-size: 1.875rem;
        line-height: 2.5rem;
        text-align: left;
        margin-bottom: 17px;
    }
    .shop-screen--rating {
        display: inline-block;
        position: relative;
        float: left;
        width: 100%;
        text-align: left;
        margin-right: 30px;
    }
    .star {
        display: inline-block;
        position: relative;
        float: left;
        width: 25px;
        height: 25px;
        background: url(../images/Star.svg) no-repeat top center;
        background-size: 25px 25px;
    }
    .star-light {
        display: inline-block;
        position: relative;
        float: left;
        width: 25px;
        height: 25px;
        background: url("../images/Star-line.svg") no-repeat top center;
        background-size: 25px 24px;
    }
    .shop-screen--rating-star-full {
        float: none;
        margin-right: 0px;
    }
    .shop-screen--rating-star-light {
      float: none;
      margin-right: 0px;
    }
    .shop-screen--info-block {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        color: #000;
        margin-top: 12px;
        line-height: 1.375rem;
    }
    .shop-screen--rating-number {
        color: #8A49F3;
        font-size: 1.25rem;
        top:-7px;
        display: inline-block;
        position: relative;
        float: none;
        margin-left: 8px;
    }
    .shop-screen--social-block {
        display: block;
        float: left;
        width: 100%;
        text-align: left;
        padding: 15px 0px 2px;
        position: relative;
    }
    .shop-screen--social-icon {
        display: inline-block;
        position: relative;
        float: left;
        height: 30px;
        margin-left: 5px;
        opacity: 0.5;
    }
    .shop-screen--review-col-content-nophoto {
        padding: 5px 5% 0px 0px;
        width: 100%;
    }
    .shop-screen--review-col-content {
        display: inline-block;
        position: relative;
        float: left;
        padding: 5px 5% 0px 0px;
        width: 70%;
    }
    .shop-screen--review-col-img {
        width: 30%;
    }
    .shop-screen--review-col-img img {
        width: auto;
        float:right;
        max-width: 100%;
    }
    .basic-screen {
        padding: 0px 0px 0px;
    }
    .basic-screen--big-title {
        font-size: 1.875rem;
        line-height: 2.4375rem;
        margin-top: 0px;
    }
    .main-page-screen .mt-70 {
        margin-top: 45px;
    }
    .basic-screen--city-list li {
        display: block;
        position: relative;
        float: none;
        width: 50%;
        line-height: 1.625rem;
    }
    .main-page--topshop-img {
        width: 100%;
        height: auto;
    }
    .main-page--item-desc {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 1.125rem;
        line-height: 1.4375rem;
        color: #000;
    }
    .main-page--slider {
        padding: 0px;
    }
    .main-page--benefits-text {
        margin-bottom: 45px;
    }
    .main-page--benefits-screen {
        padding: 0;
    }
    .main-page--lowcost {
        padding: 0;
    }
    .main-page--topshop-first {
        margin-bottom: 20px;
    }
    .main-page--subtitle {
        font-size: 1.125rem;
        line-height: 1.4375rem;
    }
    .main-page--topshop-link {
        margin-bottom: 20px;
    }
    .main-page--topshop-amount {
        display: block;
    }
    .similar-item-desc {
        color: #000;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        transition: all 0.3s;
        text-overflow: ellipsis;
    }
    .main-page--lowcost .mb-130 {
        margin-bottom: 0;
    }
    .similar-item-price mark {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 0;
        background: transparent;
        color: #FF5959;
    }
    .shops-page--block-ava {
        display: block;
        position: relative;
        float: left;
        width:30%;
        padding-right: 10px;
    }
    .shops-page--block-ava img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    .shops-page--block-header {
        display: block;
        position: relative;
        float: left;
        width: 70%;
        padding-left: 10px;
        padding-top: 10px;
    }
    .shops-page--block-info {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding-left: 0;
        font-size: 1rem;
        padding-top: 10px;
        line-height: 1.375rem;
        margin-bottom: 18px;
        color: #000;
    }
    .shop-page--review-col-content {
        display: inline-block;
        position: relative;
        float: left;
        padding: 10px 0px 10px;
        width: 100%;
    }
    .shops-page--photo-buket .col-4  {
        padding: 0px 8px;
    }
    .shops-pages--buket-img {
        height: 115px;
        max-height: 125px;
    }
    .shops-page--buket-all-cover {
        height: 115px;
        min-height: 115px;
        max-height: 125px;
    }
    .order-page--body {
        padding: 31px 10px 50px;
    }
    .order-page--body-header-col-left {
        display: inline-block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        padding-bottom: 0px;
    }
    .order-page--body-header-col-right {
        display: inline-block;
        position: relative;
        float: left;
        text-align: left;
        width: 100%;
        padding-top: 0px;
        margin-top: -5px;
        padding-bottom: 10px;
    }
    .order-page--footer .btn-lg {
        padding: 0.8rem 2rem;
    }
    .btn-group-lg .order-btn-block {
        width: 100%;
    }
    .status-page--bar-name {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        font-size: 0.8rem;
        padding-top: 25px;
    }
    .status-page--bar-name-right {
        display: block;
        position: absolute;
        float: right;
        width: 100%;
        text-align: right;
        font-size: 0.8rem;
        padding-top: 29px;
    }
    .status-page--bar.second::before {
        display: block;
        position: absolute;
        left: -5px;
        top:-24px;
        height: 48px;
        width: 48px;
        background: #cccccc;
        border-radius: 50%;
        content: url("../images/check-icon.svg");
        padding-top: 12px;
        text-align: center;
    }
    .status-left-m.status-name-left {
        margin-left: -5px;
    }
    .status-buket-photo {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 100px;
        max-height: 100px;
    }
    .status-buket-no-photo {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        background: #F6F6F6;
        height: 100px;
        max-height: 100px;
    }
    .status-buket-text {
        font-size: 0.73rem;
    }
    .status-header {
        text-align: center!important;
    }
    .basic-screen--subtitle {
        margin-bottom: 30px;
    }
    .review-form-block {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 30px 10px 48px;
        background: #F6F6F6;
        margin-bottom: 0px;
    }
    .rating:not(:checked) > label {
        font-size:250%;
    }
    .order-page--body-header-col-right .form-check-label::after {
        content: " ";
        display: inline-block;
        float: left;
        width: 20px;
        height: 20px;
        background: url("../images/check-custom.svg");
        position: relative;
        top: 3px;
        margin-right: 15px;
    }
    .order-page--body-header-col-right .form-check {
        margin-left: 0;
        padding-left: 0;
    }
    .form-check-label::after {
        content: " ";
        display: inline-block;
        float: right;
        width: 20px;
        height: 20px;
        background: url("../images/check-custom.svg");
        position: relative;
        top: 3px;
        margin-right: 0px;
     }
     .review-form--left .form-check-label {
        cursor: pointer;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
        padding: 10px 0px;
    }
    .review-form-block .btn-lg {
        width: 100%;
        padding: 0.8rem 2rem;
    }
    .form-radio-label::after {
        content: " ";
        display: inline-block;
        float: right;
        width: 20px;
        height: 20px;
        background: url("../images/radio-custom.svg");
        position: relative;
        top: 3px;
         margin-right: 0px;
    }
    .catalog-filter--mobile .form-check {
        float: left;
        padding-left: 0;
        width: 100%;
    }
    .catalog-filter--mobile .form-check-label {
        cursor: pointer;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
        padding: 10px 0px;
    }
    .form-check .form-radio-label {
        cursor: pointer;
        display: block;
        position: relative;
        float: left;
        width: 100%;
        border-bottom: 1px solid #E9E9E9;
        padding: 10px 0px;
    }
    .checkout-calendar {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        background: #fff;
        border:1px solid #E1E1E1;
        padding: 10px 20px 20px;
    }
    .checkout-calendar-day {
        width: 35px;
        height: 35px;
        font-size: 0.85rem;
    }
    .checkout-calendar-day-weekend {
        width: 35px;
        height: 35px;
        font-size: 0.85rem;
    }
    .owl-calendar .owl-nav button.owl-next {
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        background: url(../images/arrow-slider-right.svg) no-repeat top left;
        background-size: 20px 20px;
        right: -18px!important;
        top: 10px;
        opacity: 1;
        border: 0;
        margin: 0 !important;
    }
    .owl-calendar .owl-nav button.owl-prev {
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      background: url(../images/arrow-slider-left.svg) no-repeat top left;
      background-size: 20px 20px;
      left: -20px!important;
      top: 10px;
      opacity: 1;
      border: 0;
      margin: 0 !important;
    }
    .order-page--header-col-right {
        display: inline-block;
        position: relative;
        float: right;
        width: 30%;
    }
    .order-page--header-col-left {
        display: inline-block;
        position: relative;
        float: left;
        width: 70%;
    }
    .btn-pay > .btn:not(:first-child), .btn-pay > .btn-pay:not(:first-child) {
        margin-left: 0px !important;
    }
    .btn-pay>.btn-pay:not(:last-child)>.btn, .btn-pay>.btn:not(:last-child):not(.dropdown-toggle) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .btn-pay>.btn-pay:not(:first-child)>.btn, .btn-pay>.btn:not(:first-child) {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .kaspi-info-text {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        text-align: center;
        margin-top: 95px;
        font-size: 1.25rem;
        line-height: 2rem;
    }
    .kaspi-pay-link {
        line-height: 1.625rem;
        font-size: 1rem;
        color: #8A49F3 !important;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin: 20px auto;
        text-align: center;
        display: block;
        width: 100%;
        position: relative;
        float: left;
    }
}
@media (min-width:320px) and (max-width:360px) {
    .footer-menu {
        margin-right: 54px;
    }
    .shop-screen--review-col-img {
        width: 30%;
    }
    .shop-screen--review-col-img img {
        width: auto;
        float:right;
        max-width: 100%;
    }
    .error-screen {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 20px 0px;
        min-height: 80vh;
    }
}
@media (min-width: 768px) and (max-width: 1170px) {
    .status-buket-photo {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        height: 250px;
        max-height: 300px;
    }
    .status-buket-no-photo {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        background: #F6F6F6;
        height: 250px;
        max-height: 300px;
    }
}
@media (min-width: 1600px) {
    .container-fluid {
        width: 1440px;
    }
    .basic-screen {
        display: block;
        position: relative;
        float: left;
        width: 100%;
        padding: 43px 0px 0px;
        min-height: 60vh;
    }
}
@media (min-width: 854px) {
    .hidden-desktop {
        display: none !important;
    }
}