header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    min-height: 88px;
}
.logo {
    display: block;
    position: relative;
    float: none;
    margin: 0 auto;
    height: 55px;
}
.mobile-header-menu {
    display: none;
}
.item-page--main-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 43px 0px;
}
.item-page--big-image {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.item-page--subtitle {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    clear: both;
    color: #000000;
    margin-bottom: 40px;
}
.item-page--subtitle a {
    color: #828282;
    text-decoration: none;
}
.item-page--subtitle a:hover {
    color: #8A49F3;
    text-decoration: none;
}
.nav-link.dropdown-toggle {
    color: #8A49F3 !important;
}
.color-pink {
    width: 10px;
    height: 10px;
    border-radius: 45px;
    background: #FFBCBC;
    float: none;
    left: 7px;
    top:12px;
    position: absolute;
}
.color-red {
    width: 10px;
    height: 10px;
    border-radius: 45px;
    background: #FF5959;
    float: none;
    left: 7px;
    top:12px;
    position: absolute;
}
.color-yellow {
    width: 10px;
    height: 10px;
    border-radius: 45px;
    background: #FFDA59;
    float: none;
    left: 7px;
    top:12px;
    position: absolute;
}
.color-white {
    width: 10px;
    height: 10px;
    border-radius: 45px;
    background: #ffffff;
    float: none;
    left: 7px;
    top:12px;
    border: 1px solid #E9E9E9;
    position: absolute;
}
.color-item {
    padding-left: 25px;
    line-height: 1.4;
}
.quantity-item {
    line-height: 1.4;
}
.divider {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid #E1E1E1;
    margin: 35px 0px 20px;
}
.divider-footer {
    display: block;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: 1px solid #E1E1E1;
    margin: 50px 0px 30px;
}
.item-page--title {
    font-size: 3.75rem;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    z-index: 9;
    clear: both;
}
.btn-f-n {
    display: block;
    position: relative;
    float: left;
}
.item-page--price {
    font-size: 2.5rem;
    color: #000000;
    line-height: 1.4;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    clear: both;
}
.item-page--info-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #000;
    margin-top: 30px;
}
.item-page--info-block a {
    color: #828282;
    text-decoration: none;
}
.item-page--info-block a:hover {
    color: #8A49F3;
    text-decoration: none;
}
.item-page--description-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.title-block {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 2.44rem;
}
.title-star-review {
    font-size: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    line-height: 2.44rem;
    padding-bottom: 0;
    margin-bottom: 15px;
    margin-left: 30px;
}
.title-star-review::before {
    display: block;
    position: absolute;
    height: 18px;
    width: 20px;
    background: url("../images/star-trans.svg") no-repeat center center;
    content: "";
    top:30px;
    left: 0;
}
.item-page--description-subtitle {
    color: #000;
    line-height: 1.45rem;
    font-size: 1rem;
    margin-bottom: 10px;
    display: block;
    position: relative;
    float: none;
}
.item-page--description {
    color: #000;
    line-height: 1.45rem;
    font-size: 1rem;
    margin-bottom: 20px;
}
.item-page--helptext {
    line-height: 1.45rem;
    font-size: 1rem;
    margin-bottom: 20px;
    color: #828282;
}
.item-page--guarantee-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.item-page--review-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.item-page--review {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px 20px;
    border-top: 1px solid #E5E5E5;
}
.item-page--review:last-child {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 20px;
}
.star {
    display: inline-block;
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    background: url("../images/Star.svg") no-repeat top center;
    background-size: 22px 22px;
    margin-right: 1px;
}
.star-light {
    display: inline-block;
    position: relative;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 1px;
    background: url("../images/Star-line.svg") no-repeat top center;
    background-size: 22px 21px;
}
.item-page--review-col-content {
    display: inline-block;
    position: relative;
    float: left;
    padding: 5px 0px 0px;
    width: 75%;
}
.item-page--review-col-img {
    display: inline-block;
    position: relative;
    float: left;
    width: 25%;
}
.item-page--review-col-img img {
    width: 100%;
}
.item-page--review-col-content-text {
    color: #000;
    line-height: 1.45rem;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-top: 10px;
}
.item-page--review-col-content-author {
    line-height: 1rem;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #828282;
}
.similar-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0px 0px;
}
.similar-item-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.similar-item-block:hover .similar-img-box {
    opacity: 0.8;
    transition: all 0.3s;
}
.similar-item-block:hover .similar-item-desc {
    transition: all 0.3s;
    color: #8A49F3;
}
.similar-img-box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    transition: all 0.3s;
    margin-bottom: 20px;
}
.red {
    background: #FF5959;
}
.green {
    background: #10BB5E;
}
.similar-img-box--badge-box {
    display: block;
    position: absolute;
    float: left;
    width: 100%;
    bottom: 0px;
    text-transform: uppercase;
}
.similar-img-box--badge:nth-child(1) {
    display: inline-block;
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    padding: 2px 8px;
    /*background: #FF5959;*/
    color: #ffffff;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 10;
}
.similar-img-box--badge:nth-child(2n) {
    display: inline-block;
    position: relative;
    float: left;
    bottom: 0;
    left: 0;
    padding: 2px 8px;
    color: #ffffff;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    z-index: 10;
}
.similar-img-box img {
    width: 100%;
    z-index: 9;
}
.similar-item-desc {
    color: #000;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    transition: all 0.3s;
}
.similar-item-price {
    display: inline-block;
    position: relative;
    float: left;
    width: auto;
    color: #000;
    padding-right: 20px;
}
.similar-item-price del {
    color: #828282;
    padding-right: 10px;
}
.similar-item-price mark {
    padding: 0;
    background: transparent;
    color: #FF5959;
}
.similar-item-rating {
    display: inline-block;
    position: relative;
    float: left;
    width: auto;
    padding-left: 20px;
    color: #000;
}
.similar-item-rating::before {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../images/Star-black.svg") no-repeat top center;
    background-size: 16px 16px;
    content: "";
    top:5px;
    left: 0px;
}

footer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 34px 0px 0px;
}
.footer-menu {
    display: block;
    position: relative;
    float: left;
    width: auto;
    padding: 0;
    margin-top: -3px;
    margin-right: 30px;
    line-height: 1.25rem;
}
.footer-menu li {
    display: block;
    position: relative;
    margin-bottom: 7px;
}
.footer-menu li a {
    color: #000;
    text-decoration: none;
}
.footer-menu li a:hover {
    color: #8A49F3;
    text-decoration: none;
}

.language-footer-block {
    display: block;
    position: relative;
    float: left;
}
.footer-btn {
    width: 140px;
    text-align: left;
    padding: 10px 10px 10px 10px;
}
.footer-copyright {
    display: block;
    position: relative;
    float: left;
    line-height: 1.45rem;
    font-size: 1rem;
    margin-top:-5px;
    margin-bottom: 1rem;
}
.footer-text {
    display: block;
    position: relative;
    float: left;
    line-height: 1.45rem;
    font-size: 1rem;
    padding-right: 20%;
}
.footer-app-img {
    display: block;
    position: absolute;
    float: right;
    right: 0px;
    top: 0px;
}
.footer-app-text {
    display: block;
    position: absolute;
    float: left;
    line-height: 1.8125rem;
    font-size: 1.25rem;
    margin-left: 30px;
    margin-top: -5px;
    z-index: 10;
}
.dropdown-title {
    font-size: 1.25rem;
    line-height: 1.813rem;
    color: #000;
}
.dropdown-other-city {
    color: #8A49F3;
    display: block;
    position: relative;
    float: none;
    text-decoration: none;
    margin-bottom: 10px;
}
.dropdown-other-city {
    color: #8A49F3;
    text-decoration: none;
}
.dropdown-city {
    display: block;
    position: relative;
    float: left;
    padding: 0;
    margin-bottom: 10px;
}
.dropdown-city li {
    display: block;
    position: relative;
    float: none;
    padding: 5px 0px;
}
.dropdown-city li a {
    color: #828282;
    text-decoration: none;
}
.dropdown-city li a:hover {
    color: #000;
    text-decoration: none;
}

.btn-group-mobile {
    width: 100%;
    text-align: left!important;
}
.btn-group-mobile .btn {
    text-align: left;
}
.btn-group-mobile .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    margin-left: 0.255em;
    top: 0.4rem;
    right: 1rem;
    transform-origin: center center;
    content: url("../images/arrow-down-grey.svg");
}
.check-link {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 5px 0px;
}
.catalog-filter--menu .dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    margin-left: 0.255em;
    top: -0.1rem;
    transform-origin: center center;
    content: url("../images/arrow-down-black.svg");
}
.catalog-filter--menu .dropdown.show > .dropdown-toggle {
    color: #8A49F3;
}
.catalog-filter--menu .dropdown-toggle:hover::after {
    content: url("../images/arrow-down.svg");
}


.top-menu.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    margin-left: 0.255em;
    top: -0.1rem;
    transform-origin: center center;
    content: "";
}
.top-menu.dropdown-toggle {
    color: #000 !important;
}
.top-menu.dropdown-toggle:hover {
    color: #8A49F3 !important;
}
.dropdown.show > .top-menu.dropdown-toggle::after {
    display: inline-block;
    position: absolute;
    margin-left: 0.255em;
    top:0.8rem;
    transform: rotateX(180deg);
    transform-origin: center center;
    transition: all 0.2s;
    content: "";
}
.top-menu-dropdown {
    width: 350px;
    padding: 16px 28px 28px;
}
.top-menu-dropdown-title {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.813rem;
    color: #000;
    margin-bottom: 32px;
}
.top-menu-dropdown-link {
    display: block;
    position: absolute;
    float: right;
    right: 0;
    top:0;
    color: #828282;
    cursor: pointer;
}
.top-menu-dropdown-link:hover {
    color: #8A49F3;
}
.top-menu-dropdown-help-text {
    font-size: 1rem;
    color: #000;
    margin-bottom: 20px;
}
.top-menu-link {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 5px;
}
.top-menu-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.top-menu-hide {
    display: none;
}

/* menu */
.popup-menu {
    display: block;
    position: fixed;
    float: left;
    width: 100%;
    right: 0%;
    min-height: 100vh;
    top: -100vh;
    padding: 15px 5%;
    z-index: 1999;
    background: #8A49F3;
    opacity: 1;
    transition:.5s;
}
.popup-menu-on {
    display: block;
    position: fixed;
    float: left;
    padding: 15px 5%;
    right: 0;
    width: 100%;
    min-height: 100vh;
    top: 0;
    background: #8A49F3;
    z-index: 1999;
    -webkit-animation: popup-slide-on 0.4s ease;
    animation: popup-slide-on 0.4s ease;
}

@-webkit-keyframes popup-slide-on {
    0% {top: -100vh;opacity: 1;}
    100% {top: 0;opacity: 1;}
}
@keyframes popup-slide-on {
    0% {top: -100vh;opacity: 1;}
    100% {top: 0;opacity: 1;}
}
@-webkit-keyframes popup-slide-offf {
    0% {top: 0;opacity: 1;}
    100% {top: -100vh;opacity: 1;}
}
@keyframes popup-slide-offf {
    0% {top: 0;opacity: 1;}
    100% {top: -100vh;opacity: 1;}
}

.slider-item {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
    padding-left:15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .slider-item > div {
    /* CURRENT way. */
    scroll-snap-align: start;
  }
  .slider-item .slide {
    width: 320px;
    flex-shrink: 0;
    height: 100%;
    margin-right: 7px;
  }
  .slider-item .slide img {
      width: 100%;
      display: block;
      position: relative;
      float: left;
  }

  .slider-similar {
    width: 100%;
    height: auto;
    display: flex;
    overflow-x: auto;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
    padding-left:15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .slider-similar > div {
    /* CURRENT way. */
    scroll-snap-align: start;
  }
  .slider-similar .slide {
    width: 250px;
    flex-shrink: 0;
    height: 100%;
    margin-right: 14px;
  }
  .slider-similar .slide img {
      width: 100%;
      display: block;
      position: relative;
      float: left;
  }

  .slider-cat {
    width: 100%;
    height: 200px;
    display: flex;
    overflow-x: auto;
    padding: 0px;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;  
    scroll-behavior: smooth;
    padding-left:15px;
    padding-right: 15px;
    margin-bottom: 30px;
  }
  .slider-cat > div {
    /* CURRENT way. */
    scroll-snap-align: start;
  }
  .slider-cat .slide {
    width: 150px;
    flex-shrink: 0;
    height: 100%;
    margin-right: 14px;
    text-align: center;
  }
  

  /* Shop Page */
  .shop-screen {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      padding: 43px 0px 0px;
  }
  .shop-screen--ava {
      display:block;
      position: relative;
      float: none;
      width: 150px;
      border-radius: 50%;
      margin: 0 auto;
  }
  .shop-screen--about-menu {
      display: inline-block;
      position: relative;
      float: none;
      margin: 24px auto;
      list-style: none;
      padding: 0;
      line-height: 1.9375rem;
      font-size: 1rem;
  }
  .shop-screen--about-menu li {
      text-align: left;
      color: #828282;
  }
  .shop-screen--about-menu a.active, .shop-screen--about-menu a:active {
    color: #8A49F3;
    text-decoration: none;
  }
  li.shop-screen--about-active {
      color: #8A49F3;
  }

  .big-title {
      font-size: 3.75rem;
      line-height: 4.8125rem;
      color: #000;
      float: left;
      margin-top: -10px;
      margin-bottom: 20px;
  }
  .shop-screen--rating {
      display: inline-block;
      position: relative;
      float: left;
      margin-right: 30px;
  }
  .shop-screen--rating-star-full {
      display: inline-block;  
      position: relative;
      float: left;
      width: 31px;
      height: 31px;
      background: url("../images/Star.svg") no-repeat top center;
      background-size: 33px 31px;
      margin-right: 2px;
  }
  .shop-screen--rating-star-light {
    display: inline-block;  
    position: relative;
    float: left;
    width: 31px;
    height: 31px;
    background: url("../images/Star-line.svg") no-repeat top center;
    background-size: 33px 31px;
    margin-right: 2px;
}
.shop-screen--rating-number {
    color: #8A49F3;
    font-size: 1.25rem;
    margin-left: 10px;
}
.shop-screen--social-block {
    display: inline-block;
    position: relative;
}
.shop-screen--social-icon {
    display: inline-block;
    position: relative;
    float: left;
    height: 30px;
    margin-right: 20px;
    opacity: 0.5;
}
.shop-screen--info-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    color: #000;
    margin-top: 30px;
    line-height: 1.375rem;
}
.shop-screen--item-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 40px;
}
.shop-screen--item-block:hover .shop-screen--img-box {
    opacity: 0.8;
    transition: all 0.3s;
}
.shop-screen--item-block:hover .shop-screen--item-desc {
    transition: all 0.3s;
    color: #8A49F3;
}
.shop-screen--img-box {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    transition: all 0.3s;
    margin-bottom: 15px;
}
.shop-screen--img-box img {
    width: 100%;
}
.shop-screen--item-desc {
    color: #000;
    display: block;
    position: relative;
    float: left;
    width: 100%;
    transition: all 0.3s;
}
.shop-screen--review-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px;
}
.shop-screen--review {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px 0px 20px;
    border-top: 1px solid #E5E5E5;
}
.shop-screen--review:last-child {
    border-bottom: 1px solid #E5E5E5;
    margin-bottom: 70px;
}
.shop-screen--review-col-content {
    display: inline-block;
    position: relative;
    float: left;
    padding: 5px 9% 0px 0px;
    width: 80%;
}

.shop-screen--review-col-content-nophoto {
    display: inline-block;
    position: relative;
    float: left;
    padding: 5px 9% 0px 0px;
    width: 80%;
}
.shop-screen--review-col-img {
    display: inline-block;
    position: relative;
    float: left;
    width: 20%;
}
.shop-screen--review-col-img img {
    width: auto;
    float:right;
    max-width: 130px;
    max-height: 130px;
}
.shop-screen--review-col-content-text {
    color: #000;
    line-height: 1.45rem;
    font-size: 1rem;
    margin-bottom: 14px;
    margin-top: 10px;
}
.shop-screen--review-col-content-author {
    line-height: 1rem;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #828282;
}
.shop-screen--review-col-content-author a {
    color: #8A49F3;
    text-decoration: none;
}
.shop-screen--review-col-nophoto {
    display: inline-block;
    position: relative;
    float: left;
    width: 20%;
}

/* Dostavka */
.basic-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 43px 0px 0px;
    min-height: 100%;
}
.basic-screen--big-title {
    font-size: 3.75rem;
    line-height: 4.8125rem;
    color: #000;
    display: block;
    position: relative;
    float: none;
    margin-top: -10px;
    margin-bottom: 0px;
}
.basic-top-text {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin: 10px auto;
    width: auto;
    padding: 0;
}
.basic-screen--menu {
    display: block;
    position: relative;
    float: none;
    text-align: center;
    margin: 10px auto;
    width: auto;
    padding: 0;
}
.basic-screen--menu li {
    display: inline-block;
    position: relative;
    float: none;
    margin: 5px 5px 10px;
}
.basic-screen--menu li.active, .basic-screen--menu a.active {
    color: #8A49F3;
}
.basic-screen--text {
    font-size: 1rem;
    line-height: 1.625rem;
    color: #000;
    text-align: left;
}
.basic-screen--text a {
    color: #828282;
    text-decoration: none;
}
.basic-screen--text a:hover {
    color: #8A49F3;
    text-decoration: none;
} 
.basic-screen--city-list {
    display: block;
    position: relative;
    float: left;
    width: auto;
    padding: 0;
    margin-bottom: 0;
}
.basic-screen--city-list li {
    display: block;
    position: relative;
    float: none;
    line-height: 1.625rem;
}
.error-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 80px 0px;
    min-height: 80vh;
}
.contact-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 80px 0px;
    min-height: 60vh;
}
.btn-404 {
    padding: 0.8rem 2rem;
  font-size: 1rem;
  line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  border-radius: 4px;
}

/* Catalog */
.catalog-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 43px 0px 0px;
    min-height: 100%;
}
.cart-padding .similar-item-block {
    padding-bottom: 40px;
}

.catalog-filter {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 10px 0px 10px;
    background: #F6F6F6;
}
.catalog-filter--menu {
    display: block;
    position: relative;
    float: none;
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}
.catalog-filter--menu li {
    display: inline-block;
    position: relative;
    padding: 0px 5%;
    font-size: 1rem;
    line-height: 1.625rem;
}
.catalog-filter--menu li a {
    color: #000;
    text-decoration: none;
}
.catalog-filter--menu li a:hover {
    color: #8A49F3;
    text-decoration: none;
}
.catalog-theme {
    background: #f6f6f6;
    border: none;
    border-radius: 0;
    padding: 16px 17px 15px;
    width: 300px;
    margin-left: -36px;
}
.dropdown-menu .form-check {
    padding-left: 0px;
}
.dropdown-menu .form-check {
    margin-bottom: 0.5rem;
}

/* Filter mobile */
.catalog-filter--mobile-off {
    display: none;
}
.catalog-filter--mobile {
    display: block;
    position: fixed;
    float: left;
    width: 100%;
    z-index: 9999;
    background: #F6F6F6;
    top:0;
    bottom: 0;
    padding: 60px 0px;
    height: auto;
    overflow: scroll;
}
.catalog-filter--mobile-close {
    display: block;
    position: absolute;
    float: right;
    right: 17px;
    top:20px;
    background: url("../images/close-btn.svg") no-repeat top center;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
}
.catalog-filter--mobile-header {
    font-size: 1.25rem;
    line-height: 2rem;
    color: #000;
    text-align: left;
    margin-bottom: 5px;
    display: block;
    position: relative;
    width: 100%;
    float: left;
}
.catalog-filter--mobile-other {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-bottom: 1px solid #E9E9E9;
    padding: 10px 0px;
    color: #828282;
}
.flowers-hidden {
    display: none;
}
.flowers-show {
    display: block;
    position: relative;
    float: left;
}
.catalog-filter-accept {
    line-height: 1.625rem;
    font-size: 1rem;
    color: #8A49F3 !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    position: relative;
    float: left;
}
.catalog-filter-accept:hover {
    color: #8A49F3;
}
.filter-hide {
    display: none;
}
.filter-show {
    display: block;
    position: absolute;
    float: left;
    right: 0px;
    color: #828282;
    cursor: pointer;
}
.filter-show:hover {
    color: #8A49F3;
}
.filter-show-mobile {
    display: block;
    position: relative;
    float: left;
    color: #828282;
    margin: 30px 0px 35px;
    cursor: pointer;
}
.similar-item-rating:hover:before {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    background: url("../images/Star.svg") no-repeat top center !important;
    background-size: 20px 20px;
    content: "";
    transition: all 0.2s;
    top:5px;
    left: 0px;
}
.similar-item-rating:hover {
    color: #8A49F3;
    transition: all 0.2s;
}
.main-page-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0px 0px;
}
.main-page--subtitle {
    font-size: 1.875rem;
    line-height: 2.4375rem;
    display: inline-block;
    position: relative;
    float: none;
    margin: 20px auto;
}
.main-page--item-desc {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    color: #000;
}
.main-page--item-desc a {
    color: #828282;
    text-decoration: none;
}
.main-page--item-desc a:hover {
    color: #8A49F3;
    text-decoration: none;
}
.main-page--topshop-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 30px 0px 80px;
}
.main-page--topshop-first {
    font-size: 1.25rem;
    display: block;
    position: relative;
    float: left;
    line-height: 1.8125rem;
    text-align: center;
    color: #000;
}
.main-page--topshop-first a {
    color: #828282;
    text-decoration: none;
}
.main-page--topshop-first a:hover {
    color: #8A49F3;
    text-decoration: none;
}
.main-page--topshop-img {
    display: block;
    position: relative;
    float: none;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0px auto 5px;
}
.main-page--topshop-rate {
    display: inline-block;
    position: relative;
    float: none;
    text-align: center;
    margin-bottom: 20px;
}
.main-page--topshop-number {
    font-size: 1rem;
    line-height: 1;
    color:#000;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: -1px;
}
.shop-screen--review-col-number {
    font-size: 1rem;
    line-height: 1;
    color:#8A49F3;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: 2px;
}
.shop-screen--review-col-review {
    font-size: 1rem;
    line-height: 1;
    color:#8A49F3;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    float: left;
    padding-top: 6px;
    margin-top: 2px;
}
.main-page--topshop-rate .star {
    display: inline-block;  
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    background: url("../images/Star-black.svg") no-repeat top center;
    background-size: 16px 16px;
    margin-right: 0px;
    transition: all 0.2s;
}
.main-page--topshop-rate .star-light {
  display: inline-block;  
  position: relative;
  float: left;
  width: 16px;
  height: 15px;
  background: url("../images/Star-line-black.svg") no-repeat top center;
  background-size: 16px 16px;
  margin-right: 0px;
  transition: all 0.2s;
}
.main-page--topshop-link:hover .main-page--topshop-number {
    font-size: 1rem;
    line-height: 1;
    color:#8A49F3;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    float: left;
    margin-top: -1px;
    transition: all 0.2s;
}
.main-page--topshop-link:hover .main-page--topshop-rate .star {
    display: inline-block;  
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    background: url("../images/Star-color.svg") no-repeat top center !important;
    background-size: 16px 16px;
    margin-right: 0px;
    transition: all 0.2s;
    top:0;
} 
.main-page--topshop-link:hover .main-page--topshop-rate .star-light {
    display: inline-block;  
    position: relative;
    float: left;
    width: 16px;
    height: 16px; 
    background: url("../images/Star-line.svg") no-repeat top center;
    background-size: 16px 16px;
    transition: all 0.2s;
    margin-right: 0px;
}
.main-page--topshop-amount {
    display: none;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    color: #828282;
    font-size: 1rem;
    line-height: 1.625rem;
}
.main-page--news-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.main-page--benefits-screen {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 80px 0px 60px;
}
.main-page--benefits-screen img {
    display: inline-block;
    position: relative;
    float: none;
    height: 87px;
    margin: 0px auto 20px;
}
.main-page--benefits-text {
    display: block;
    position: relative;
    float: left;
    font-size: 1.25rem;
    line-height: 1.6875rem;
    color: #000;
    width: 100%;
    padding: 0px 22px 20px;
}
.star-block {
    display: inline-block;
    position: relative;
    float: left;
}
.star-block svg {
    stroke: #8A49F3;
}
.star-block-light {
    display: inline-block;
    position: relative;
    float: left;
}
.star-block-light svg {
    fill:#ffffff !important;
    stroke: #8A49F3;
}
.main-page--topshop-link:hover .main-page--topshop-rate .star-block svg {
    fill:#000000;
    transition: all 0.2s;
    margin-right: 0px;
    stroke: #8A49F3;
}
.main-page--lowcost {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0px;
}
.main-page--city {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0px;
}
.main-page--slider {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 50px 0px;
}
.main-page--slider-img {
    display: block;
    position: relative;
    float: none;
    width: auto;
    max-width: 130px;
    margin: 0 auto 10px;
    border-radius: 50%;
}
.main-page--slider-title {
    display: block;
    position: relative;
    float: left;
    color: #000;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}
.main-page--slider a:hover .main-page--slider-title {
    color: #8A49F3;
    text-decoration: none;
    transition: all 0.3s;
}
button:focus {
    outline: none;
}
.catalog-filter--mobile-menu {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    width: 100%;
}
.catalog-filter--mobile-menu-btn {
    color: #8A49F3;
    text-align: center;
    display: inline-block;
    position: relative;
    float: none;
    margin: 0 auto;
}
.catalog-filter--mobile-menu-btn::after {
    display: block;
    position: absolute;
    float: right;
    right: -20px;
    top:9px;
    width: 12px;
    height: 12px;
    background: #8A49F3;
    border-radius: 50%;
    content: "";
}

/* Review page*/
.review-page--right-block {
    display: block;
    position: relative;
    float: left;
    width:100%;
    margin-bottom: 50px;
    padding: 0px 12%;
}
.review-page--right-block img {
    display: block;
    position: relative;
    float: left;
    margin-bottom: 20px;
    clear: both;
}
.review-page--right-block p {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: #000;
    text-align: left;
    margin-bottom: 10px;
}
.review-page--right-block ul {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
}
.review-page--right-block ul li {
    display: block;
    position: relative;
    float: left;
    padding: 5px 0px;
    clear: both;
}
/* Shops Page */
.shops-page--block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #E1E1E1;
}
.shops-pages--buket-img:hover  {
    opacity: 0.8;
    transition: all 0.3s;
}
.shops-page--block-ava {
    display: block;
    position: relative;
    float: left;
    width:30%;
}
.shops-page--block-ava img {
    width: 93px;
    height: 93px;
    border-radius: 50%;
}
.shops-page--block-header {
    display: block;
    position: relative;
    float: left;
    width: 70%;
}
.shops-page--block-header h2 {
    font-size: 1.25rem;
    line-height: 1.8125rem;
    color: #000;
}
.shops-page--block-info {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-left: 30%;
    font-size: 1rem;
    padding-top: 20px;
    line-height: 1.375rem;
    color: #000;
}
.shops-pages--buket-img {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 257px;
    max-height: 257px;
}
.shops-page--buket-all-cover {
    display: flex;
  align-items: center;
  justify-content: center;
    position: relative;
    float: left;
    width: 100%;
    z-index: 1;
    max-height: 257px;
    min-height: 257px;
}
.shops-page--buket-all {
    display: flex;
  align-items: center;
  justify-content: center;
    position: absolute;
    float: left;
    text-align: center;
    width: 100%;
    top:0;
    left: 0;
    bottom: 0;
    z-index: 5;
    right: 0;
    background: #F6F6F6;
}
.shops-page--photo-buket .col-xl-3 {
    padding: 0px 15px;
}
.shops-page--review-col-review {
    font-size: 1rem;
    line-height: 1;
    color:#8A49F3;
    text-align: right;
    padding-left: 5px;
    display: inline-block;
    position: relative;
    float: right;
    padding-top: 0px;
    margin-top: 2px;
}

/* Order */
.order-page--header {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    border-top: 1px solid #E1E1E1;
    padding: 12px 0px 20px;
}
.order-page--header-col-left {
    display: inline-block;
    position: relative;
    float: left;
    width: 80%;
}
.order-page--header-col-left ul {
    display: block;
    position: relative;
    float: left;
    list-style: none;
    padding: 0;
}
.order-page--header-col-left ul li {
    display: block;
    position: relative;
    float: left;
    clear: both;
    font-size: 1rem;
    padding: 2px 0px;
}
.order-page--header-col-right {
    display: inline-block;
    position: relative;
    float: right;
    width: 20%;
}
.order-page--header-col-right img {
    display: block;
    position: relative;
    float: right;
    width: 93px;
    height: 93px;
}
.order-page--body {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #F6F6F6;
    padding: 31px 40px 50px;
}
.order-page--body-header-col-left {
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    width: 50%;
    padding-bottom: 10px;
}
.order-page--body-header-col-right {
    display: inline-block;
    position: relative;
    float: left;
    text-align: right;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 10px;
}
.order-page--body-header-col {
    display: inline-block;
    position: relative;
    float: left;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
}
.col-phone {
    padding-right: 0px !important;
}

.order-page--picture-add {
    display: block;
    position: relative;
    float: left;
    font-size: 1rem;
    color: #828282;
    padding-left: 35px;
    cursor: pointer;
}
.order-page--picture-add:hover {
    color: #999999;
}
.order-page--picture-add::before {
    display: block;
    position: absolute;
    content: "";
    float: left;
    width: 22px;
    height: 22px;
    left: 0px;
    top:2px;
    background: url("../images/plus-icons.svg") no-repeat top center;
    background-size: 22px 22px;
}
.form-hidden {
    display: none;
}
.form-show {
    display: block;
}
textarea {
    resize: none;
}
.order-page--footer {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 23px 0px;
    text-align: center;
    background: #8A49F3;
}
.order-page--benefit-icon {
    display: block;
    position: relative;
    float: left;
    width: 20%;
}
.order-page--benefit-icon img {
    width: 100%;
}
.order-page--benefit-text {
    display: block;
    position: relative;
    float: left;
    width: 80%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #000;
}
.order-page--form-info {
    display: inline-block;
    position: relative;
    float: none;
    margin: 20px auto;
    color: #000;
}
.order-page--form-info mark {
    padding: 0;
    background: transparent;
    color: #8A49F3;
}
.order-btn-block {
    height: 56px;
}
input[type=checkbox] {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}
.form-check-label {
   cursor: pointer;
}
.form-check-label:after {
   content: " ";
   display: inline-block;
   float: left;
   width: 20px;
   height: 20px;
   background: url("../images/check-custom.svg");
   position: relative;
   top: 3px;
	margin-right: 10px;
}
input[type=checkbox]:checked + .form-check-label:after {
   background-position: 0 -22px;
}
.form-check-label:hover:after {
   background-position: 0 -22px;
}
input[type=checkbox]:checked + .form-check-label:hover:after {
   background-position: 0 -22px;
}

/*Check color*/
.white-check.form-check-label:after {
    background: url("../images/check-white.svg");
 }
 input[type=checkbox]:checked + .white-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .white-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .white-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 .yellow-check.form-check-label:after {
    background: url("../images/check-yellow.svg");
 }
 input[type=checkbox]:checked + .yellow-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .yellow-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .yellow-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 .red-check.form-check-label:after {
    background: url("../images/check-red.svg");
 }
 input[type=checkbox]:checked + .red-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .red-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .red-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 .pink-check.form-check-label:after {
    background: url("../images/check-pink.svg");
 }
 input[type=checkbox]:checked + .pink-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .pink-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .pink-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 .blue-check.form-check-label:after {
    background: url("../images/check-blue.svg");
 }
 input[type=checkbox]:checked + .blue-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .blue-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .blue-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 .violet-check.form-check-label:after {
    background: url("../images/check-purple.svg");
 }
 input[type=checkbox]:checked + .violet-check.form-check-label:after {
    background-position: 0 -22px;
 }
 .violet-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 input[type=checkbox]:checked + .violet-check.form-check-label:hover:after {
    background-position: 0 -22px;
 }
 
.filter-600 {
    width: 700px;
}

/* RADIO */
input[type="radio"]{display: none;}
.form-radio-label {
    cursor: pointer;
    margin-bottom: 0px;
}
.form-radio-label:after {
    content: " ";
    display: inline-block;
    float: left;
    width: 20px;
    height: 20px;
    background: url("../images/radio-custom.svg");
    position: relative;
    top: 3px;
     margin-right: 10px;
}
input[type="radio"]:checked + .form-radio-label:after {
    background-position: 0 -22px;
}
.owl-calendar {
    width: 100%;
    display: block;
    position: relative;
    float: left;
}
.owl-calendar .item {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

.btn-calendar {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;
    background: #fff;
    background-clip: padding-box;
  border: 1px solid #E9E9E9;
  border-radius: 0.25rem;
}

.btn-calendar .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid transparent;
    border-radius: 0;
}
.calendar-slider-day {
    display: block;
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: transparent;
}
.calendar-slider {
    display: block;
    position: relative;
    float: left;
    width: 100%;
}

/* Dropdown Button */
.dropbtn {
    display: block;
  width: 100%;
  height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #E9E9E9;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #fff;
    border-color: #6c757d;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown-calendar {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    text-align: left;
    height: 50px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #000;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #E9E9E9;
  border-radius: 0.25rem;
  }
  .dropdown-cal {
      margin: 0;
      display: block;
      position: relative;
      float: left;
      width: 100%;
  }
  .day {
      display: block;
      position: absolute;
      top:0;bottom: 0;left: 0;right: 0;
      float: left;
      opacity: 0;
      font-size: 0.2rem;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    max-width: 100%;
    width: 100%;
    padding: 20px 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.calendar-days {
      display: block;
      position: relative;
      float: left;
      width: 40px;
      height: 40px;
      text-align: center;
      border-radius: 50%;
      background: transparent;
}
.calendar-days:hover {
    background: #f6f6f6;
}



/* Calendar */

.checkout-calendar {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border:1px solid #E1E1E1;
    padding: 10px 40px 31px 41px;
}
.checkout-calendar-month {
    font-size: 1rem;
    color: #000;
    margin-left: 11px;
    margin-bottom: 10px;
    display: block;
    position: relative;
    float: left;
    width: 100%;
}
.checkout-calendar-day {
    display: block;
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
}
.checkout-calendar-day:hover {
    background: #f6f6f6;
}
.checkout-calendar-day:focus,.checkout-calendar-day:active {
    background: #8A49F3;
    color: #fff;
}
.checkout-calendar-day-weekend:focus,.checkout-calendar-day-weekend:active,.checkout-calendar-day-weekend:active:hover {
    background: #8A49F3;
    color: #fff;
}
.checkout-calendar-day.active {
    background: #8A49F3;
    color: #fff;
}
.checkout-calendar-day.active small {
    color: #000;
}
.checkout-calendar-day-weekend.active {
    background: #8A49F3;
    color: #fff;
}
.checkout-calendar-day-weekend.active small {
    color: #000;
}
span.active > .checkout-calendar-day {
    background: #8A49F3;
    color: #fff;
}
span.active > .checkout-calendar-day-weekend {
    background: #8A49F3;
    color: #fff;
}
.checkout-calendar-day-weekend {
    color: #FF5959;
    display: block;
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent;
    text-align: center;
    line-height: 1.2;
    cursor: pointer;
}
.checkout-calendar-day-weekend:hover {
    background: #f6f6f6;
}
.calendar-offset {
    display: block;
    position: absolute;
    width: 100%;
    top:0;
    bottom: 0;
    float: left;
    left: 0;
    right: 0;
    background: #6c757d;
    z-index: 999;
}

  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


  /* Status */
  .basic-screen--subtitle {
      font-size: 1rem;
      color: #000;
      margin-top: 10px;
      display: block;
      position: relative;
      float: left;
      line-height: 1.625rem;
  }
  
.status-page--bar.status-ok.first::before {
    display: block;
    position: absolute;
    left: 0;
    top:-24px;
    height: 48px;
    width: 48px;
    background: #8A49F3;
    border-radius: 50%;
    content: url("../images/check-icon.svg");
    padding-top: 12px;
    text-align: center;
}
.status-page--bar.active.second::before  {
    background: #8A49F3;
}
.status-page--bar.active.third::before  {
    background: #8A49F3;
}
.status-page--bar.active.third::after  {
    background: #8A49F3;
}
.status-ok {
    background: #8A49F3 !important;
}
  .status-page--bar {
      display: block;
      position: relative;
      float: left;
      width: 100%;
      background: #CCCCCC;
      height: 4px;
  }
  .status-page--bar.first::before {
      display: block;
      position: absolute;
      left: 0;
      top:-24px;
      height: 48px;
      width: 48px;
      background: #cccccc;
      border-radius: 50%;
      content: url("../images/check-icon.svg");
      padding-top: 12px;
      text-align: center;
  }
  .status-page--bar.second::before {
    display: block;
    position: absolute;
    left: -24px;
    top:-24px;
    height: 48px;
    width: 48px;
    background: #cccccc;
    border-radius: 50%;
    content: url("../images/check-icon.svg");
    padding-top: 12px;
    text-align: center;
}
.status-page--bar.third::before {
    display: block;
    position: absolute;
    left: -24px;
    top:-24px;
    height: 48px;
    width: 48px;
    background: #cccccc;
    border-radius: 50%;
    content: url("../images/check-icon.svg");
    padding-top: 12px;
    text-align: center;
}
.status-btn-top {
    margin-top: 10px;
}
.status-page--bar.third::after {
    display: block;
    position: absolute;
    right: 0;
    top:-24px;
    height: 48px;
    width: 48px;
    background: #cccccc;
    border-radius: 50%;
    content: url("../images/check-icon.svg");
    padding-top: 12px;
    text-align: center;
}
.status-page--bar-name {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding-top: 25px;
}
.status-name-left {
    margin-left: -24px;
}
.status-page--bar-name-right {
    display: block;
    position: absolute;
    float: right;
    width: 100%;
    text-align: right;
    padding-top: 29px;
}
.status-stroke {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    font-size: 1rem;
    line-height: 1.625rem;
    color: #828282;
    margin: 3px 0px;
}
.status-stroke mark {
    color: #000;
    padding: 0;
    background: transparent;
    margin-left: 5px;
}
.status-buket-photo {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    max-height: 190px;
}
.status-buket-no-photo {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    background: #F6F6F6;
    height: 190px;
    max-height: 190px;
}
.status-photo .col-4 {
    padding-left: 10px;
    padding-right: 10px;
}
.status-photo {
    margin-left: -10px;
    margin-right: -10px;
}
.status-buket-text {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 15px 0px;
    color: #000;
}



/* Stars rating */
.review-form-block {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 30px 50px 48px;
    background: #F6F6F6;
    margin-bottom: 100px;
}
.red-text {
    color: #EB5757;
}
.checkout-info-text {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 95px;
    font-size: 1.25rem;
    line-height: 2rem;
}
.form-hide {
    display: none;
}

.review-form--left {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    text-align: left;
    margin: 0px 0px 40px;
}
.review-form--left .form-check {
    position: relative;
    display: block;
    padding-left: 0;
    margin-top: 8px;
}
.rateing-block-check {
    position: relative;
    float: left;
    width: 100%;
}

.rating-block {
    display: inline-block;
    position: relative;
    float: none;
    margin: 0 auto;
}
.rating {
    float: left;
    display: block;
    position: relative;
    margin: 0 auto;
  }

  /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
    follow these rules. Every browser that supports :checked also supports :not(), so
    it doesn’t make the test unnecessarily selective */
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
      clip:rect(0,0,0,0);
  }

  .rating:not(:checked) > label {
      float: right;
      width:1em;
      /* padding:0 .1em; */
      overflow:hidden;
      white-space:nowrap;
      margin-right: 5px;
      margin-left: 5px;
      cursor:pointer;
      font-size:300%;
      /* line-height:1.2; */
      color:#ddd;
  }

  .rating:not(:checked) > label:before {
      content: '★ ';
  }

  .rating > input:checked ~ label {
      color: #8A49F3;
      
  }

  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: #8A49F3;
      transition: all 0.2s;
      
  }

  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: #8A49F3;
      transition: all 0.2s;
      
  }

  .rating > label:active {
      position:relative;
      top:2px;
      left:2px;
  }

.kaspi-qr {
    display: block;
    position: relative;
    float: right;
    width: 224px;
    margin-top: 95px;
    max-width: 224px;
}
.kaspi-info-text {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    margin-top: 95px;
    font-size: 1.25rem;
    line-height: 2rem;
}
.kaspi-pay-link {
    line-height: 1.625rem;
    font-size: 1rem;
    color: #8A49F3 !important;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 10px;
    display: block;
    position: relative;
    float: left;
}
.kaspi-pay-link:hover {
    color: #8A49F3;
}